/# prac_1.py
/.DS_Store
/12 dollar question.py
/1830
/Covid.py
/Visual Studio Code.app
/challenge_exchange.py
/covid_request.py
/hw.py
/pandas_tutorial.py
/prac
/python practice day 2.py
/r_t.git
/rotterdam_temparature
/test.py
/ycd_11.py